<link rel="stylesheet" href="pagina2.component.css" />
<div class="container">
  <div class="login">
    <h2>FECITEL</h2>

    <div class="input">
      <i class="bx bx-envelope-open"></i>
      <input type="text" name="email" id="email" placeholder="E-mail" />
    </div>

    <div class="input">
      <i class="bx bxs-lock"></i>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <i class="bx bx-low-vision"></i>
    </div>

    <div class="input">
      <i class="bx bxs-lock"></i>
      <input
        type="2password"
        name="2password"
        id="2password"
        placeholder="Confirm Password"
      />
      <i class="bx bx-low-vision"></i>
    </div>

    <div class="remember">
      <div>
        <input type="checkbox" name="remember" id="remember" />
        <h4>Remember me</h4>
      </div>
      <h4>Sign In</h4>
    </div>
    <button>SIGN UP</button>
  </div>
</div>
