<link rel="stylesheet" href="avaliacao.component.css" />

<div class="container">
  <div class="title">
    <span>...</span>
    <h1>Olá Ingrid!</h1>
  </div>

  <div class="title2">
    <h2>MÉTODO DE AVALIAÇÃO</h2>
  </div>

  <div class="avaliacao">
    <div class="input">
      <h3>PROBLEMA/HIPÓTESE</h3>
    </div>

    <rating class="rate" [max]="5"> </rating>

    <div class="input">
      <h4>COLETA DE DADO / METODOLOGIA</h4>
    </div>
    <rating class="rate" [max]="5"> </rating>

    <div class="input">
      <h4>CONCLUSÕES</h4>
    </div>
    <rating class="rate" [max]="5"> </rating>
  </div>

  <div class="buttons">
    <div class="bt">
      <button class="bt1">PRÓXIMO</button>
      <button class="bt2">VOLTAR</button>
    </div>
  </div>
</div>
