.container {
  background: linear-gradient(#3FC43E , #1A7219);
  color: white;
  font-size: 15px;
  grid-template-columns: 150px 1fr 1fr;
}

/* .treco {
  background: #155E14;
  height: 100%;
  width: 60px;
} */
/*

.input {
   text-align: center;


} */

/* .input2 {
   text-align: center;
    background: #1A7219;
    width: 330px;
    height: 35px;
    border-radius: 15px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.input3 {
   text-align: center;
    background: #1A7219;
    width: 330px;
    height: 35px;
    border-radius: 15px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}


.input4 {
   text-align: center;
    background: #1A7219;
    width: 330px;
    height: 35px;
    border-radius: 15px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;


}


.bt {
  position: absolute;
  left: 5%;
  bottom: 20px;
  font: 200;

}

.bt1 {
  width: 200px;
  height: 45px;
  border-radius: 20px;

}
.bt2 {
  display: flex;
  width: 200px;
  height: 45px;
  border-radius: 20px;
align-items: center;
text-align: center;
justify-content: center;
}

#conclusoes {
    display: none;
}

.stars {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.stars input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.stars label {
    cursor: pointer;
    padding: 10px;
    transition: all 0.2s;
}

.stars input[type="radio"]:checked ~ label {
    background: gold;
} */
